################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/estacionamento/lib
.vscode/launch.json
index.php
classes/views/teste_listar.php
classes/views/teste_editar.php
classes/models/teste.php
classes/dal/Sql.php
classes/dal/Sql.php
classes/dal/Sql.php
classes/dal/Sql.php
classes/dal/Sql.php
